body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    margin:0;
}
p{
    background-color: red;
    color:white;
    padding:2px 20px;
    margin:10px 0px;
}
ul{
    list-style-type: disc;
    list-style-image: url("arrow_right_icon.png");
}
ol{
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
}